<footer class="site-footer">

  <div class="wrapper">

    <div class="partner-logos">
      <!-- replace logos here! -->
      <!-- <a href="https://www.goethe.de/ins/br/pt/sta/sap.html" target="_blank"> -->
        <img class="logo" src="{{ site.baseurl }}/assets/img/logo/audioreflex_rodape_fff.png" alt="Goethe-Institut São Paulo logo"/>
      <!-- </a>
      
      <a href="http://mitsp.org/2018/" target="_blank">
        <img class="logo" src="{{ site.baseurl }}/assets/img/logo/logo-fixa-mitsp.png" alt="MITsp logo"/>
      </a> 
      <br />
       <a href="https://audioreflex.github.io/">
        <img class="logo" src="{{ site.baseurl }}/assets/img/logo/logo-museu-da-imigracao.png" alt="Museu da Imigração do Estado de São Paulo logo"/>
        </a> -->


    </div>
  </div>

</footer>
